stages:
  - setup

# ---------------------------
# Backend setup (Python deps)
# ---------------------------
backend-setup:
  stage: .pre
  image: python:3.14
  script:
    - echo "TEST"
    - cd backend
    - python -m venv .venv
    - source .venv/bin/activate
    - pip install -r requirements.txt
    - pip install -r requirements-dev.txt
  artifacts:
    paths:
      - backend/.venv
  # rules:
  # - if: "$CI_MERGE_REQUEST_ID"
  # - if: '$CI_COMMIT_BRANCH == "main"'
